.common-area-list {
  max-height: 750px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 8px;
}

.common-area-list::-webkit-scrollbar {
  width: 6px;
}

.common-area-list::-webkit-scrollbar-thumb {
  background: #97009c;
  border-radius: 10px;
}

.common-area-list::-webkit-scrollbar-track {
  background: #f5f5f5;
}
